{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="text-center">
        <h2>{{ movie.title }}</h2>
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="img-fluid my-3" style="max-width: 300px; border-radius: 15px;">

        {% if movie.releaseYear %}
            <p><strong>Release Year:</strong> {{ movie.releaseYear }}</p>
        {% else %}
            <p><strong>Release Year:</strong> N/A </p>
        {% endif %}

        {% if movie.averageRating %}
            <p><strong>Average Rating:</strong> {{ movie.averageRating }}/10</p>
        {% else %}
            <p><strong>Average Rating:</strong> N/A </p>
        {% endif %}

        <div class = "d-grid gap-2">
            <button type="button" class="btn btn-primary" onclick="simple_action(&quot;{{ url_for('main.movie_review', movie_id=movie.id) }}&quot;)">Write Review</button>
            <button type="button" class="btn btn-outline-secondary" onclick="simple_action(&quot;{{ url_for('main.home') }}&quot;)">Go Back</button>
        </div>
    </div> 
</div>
<div style = "padding-top: 2vh;">
    <h3 style="text-align: center; "> Movie Reviews </h3>
    {% if reviews %}
        {% for review in reviews %}
        <div style = "background-color: rgb(211, 211, 211); border-radius: 15px;">
            <div style = "display: flex; flex-direction: column;">  
                <p> User: {{review.author.username}}    </p> 
                <p> Rating: {{review.rating}}           </p>
                <p> Review Date: {{review.created_at.year}}/{{review.created_at.month}}/{{review.created_at.day}}  </p>
            </div>
            <div style = "display: flex; flex-direction: row;"> <p> Comment: {{review.comment}}  </p> </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center">Be The First To Review This Movie!</p>
    {% endif %} 
</div>
{% endblock %}
