{% extends 'base.html' %}

{% block title %}Reviewing {{ movie.title }}{% endblock %}

{% block content %}
    <h2>Write A Review For {{ movie.title  }}</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.rating.label(class="form-label") }}
            {{ form.rating(class="form-control") }}
            {% for error in form.rating.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.comment.label(class="form-label") }}
            {{ form.comment(class="form-control") }}
            {% for error in form.comment.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
{% endblock %}
