{% extends 'base.html' %}

{% block title %}Profile - {{ current_user.username }}{% endblock %}

{% block content %}
    <h2>User Profile</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Username:</strong> {{ current_user.username }}</li>
        <li class="list-group-item"><strong>Email:</strong> {{ current_user.email }}</li>
        <!-- Add more user details as needed -->
    </ul>
    
    <a href="{{ url_for('main.profile_settings') }}" class="btn btn-secondary mt-3">Go to Profile Settings</a>
    {% if is_admin %}
    <a href="{{ url_for('main.admin') }}" class="btn btn-secondary mt-3">Go to Admin Page</a>
    {% endif %}
{% endblock %}
